<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{beBack}}</h1>
        <p>{{underMaintenance}}</p>
    </body>
</html>